/* General */
html {
    background-color: #D8DBE2;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/* The main page */
body {
    font-size: 4vh;
}

/* The link at the bottom */
footer {
    font-size: 3vh;
}

/* The color of links */
a:link, a:visited, a:focus, a:hover, a:active {
    color: #000000
}

input {
    width: 15%;
    height: 3vh;
}
