/* The main page */
body, html {
    background-color: #D8DBE2;
    font-family: Verdana, sans-serif;
    font-size: 4vh;
    text-align: center;
}

/* The link at the bottom */
footer, html {
    font-family: Verdana, sans-serif;
    font-size: 3vh;
    text-align: center;
}
